<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cms.python.test</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1B4AF8C9-1570-44E8-B68B-1B828D0BFB26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20FE3550-5812-4187-BBE5-66C69C9BD281</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>962C9438-2EAF-4692-8D26-7AD0BCA3A411</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2BC01516-BD89-409D-9F46-D6CC00C18B6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B57F02C-509E-4C47-8991-5C39A314E2E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>31E660ED-7100-44C0-9B00-2E6C5F5565A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82CD02CA-2114-4E80-B54A-0978860D03B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>136D5D35-F3D4-4663-A0CE-B6395A8AD6F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>38958564-7D2D-4710-856E-2A600F3370E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFB11168-2575-47C8-8A78-0176FE669B0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20B8F826-67BB-4970-B8AA-E08F6CDF6046</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>82CD02CA-2114-4E80-B54A-0978860D03B4</key>
		<array/>
		<key>9D12578D-202D-4867-BFC7-429B7E908CC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9ABC00DA-AF1B-46D2-8161-1C9CDCFEC8E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8B030444-D575-4959-A338-59942CF30916</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A3EE1751-FBE5-4ACE-AE4E-14A49FF79179</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E25DEF8-5881-4013-8172-A510E37F1AC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>likai</string>
	<key>description</key>
	<string>Python 版本 CMS 脚本</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CMS</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://cms.changker.com/index.php?Weibo%5Bid%5D=&amp;Weibo%5Buid%5D=&amp;Weibo%5Btype%5D=%3C4&amp;Weibo%5Bcontent%5D={query}&amp;Weibo%5Bcomment_count%5D=&amp;Weibo%5Bpraise_count%5D=&amp;Weibo%5Brecommend_time%5D=&amp;Weibo%5Bcreate_time%5D=&amp;Weibo%5Bstatus%5D=0&amp;Weibo_page=1&amp;Weibo_sort=id.desc&amp;r=weibo%2Findex</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FFB11168-2575-47C8-8A78-0176FE669B0F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>feed</string>
				<key>subtext</key>
				<string>搜索所有含有关键字的内容</string>
				<key>text</key>
				<string>请输入内容关键字</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>38958564-7D2D-4710-856E-2A600F3370E8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>20B8F826-67BB-4970-B8AA-E08F6CDF6046</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>user</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在查询，请稍候……</string>
				<key>script</key>
				<string>python user.py "{query}"</string>
				<key>subtext</key>
				<string>请输入用户昵称关键字</string>
				<key>title</key>
				<string>查询用户信息</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hotel</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在查询，请稍候……</string>
				<key>script</key>
				<string>python hotel.py "{query}"</string>
				<key>subtext</key>
				<string>请输入酒店名称关键字</string>
				<key>title</key>
				<string>查询酒店信息</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2BC01516-BD89-409D-9F46-D6CC00C18B6B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8B57F02C-509E-4C47-8991-5C39A314E2E7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mem</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在查询，请稍候……</string>
				<key>script</key>
				<string>python membership.py "{query}"</string>
				<key>subtext</key>
				<string>查看用户会籍列表，跳转至对应会籍详情</string>
				<key>title</key>
				<string>用户会籍列表</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A3EE1751-FBE5-4ACE-AE4E-14A49FF79179</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9E25DEF8-5881-4013-8172-A510E37F1AC1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>再次输入 push 可关闭推送</string>
				<key>title</key>
				<string>用户新内容实时推送已开启</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9ABC00DA-AF1B-46D2-8161-1C9CDCFEC8E9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>nohup python notify.py &amp;</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8B030444-D575-4959-A338-59942CF30916</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>push</string>
				<key>text</key>
				<string>开启用户新内容实时推送</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9D12578D-202D-4867-BFC7-429B7E908CC5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>nohup python changkeshuo.py &amp;</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>82CD02CA-2114-4E80-B54A-0978860D03B4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>push</string>
				<key>text</key>
				<string>查看@常客说 的实时推送</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>31E660ED-7100-44C0-9B00-2E6C5F5565A1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>再次输入 push 可关闭推送</string>
				<key>title</key>
				<string>用户与@常客说 互动内容实时推送已开启</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>136D5D35-F3D4-4663-A0CE-B6395A8AD6F7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>nohup python closefeed.py &amp;</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>962C9438-2EAF-4692-8D26-7AD0BCA3A411</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>push</string>
				<key>text</key>
				<string>关闭所有新内容的实时推送</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1B4AF8C9-1570-44E8-B68B-1B828D0BFB26</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>再次输入 push 可重新打开推送</string>
				<key>title</key>
				<string>内容实时推送已关闭</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>20FE3550-5812-4187-BBE5-66C69C9BD281</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>136D5D35-F3D4-4663-A0CE-B6395A8AD6F7</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>1B4AF8C9-1570-44E8-B68B-1B828D0BFB26</key>
		<dict>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>20B8F826-67BB-4970-B8AA-E08F6CDF6046</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>20FE3550-5812-4187-BBE5-66C69C9BD281</key>
		<dict>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>2BC01516-BD89-409D-9F46-D6CC00C18B6B</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>31E660ED-7100-44C0-9B00-2E6C5F5565A1</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>38958564-7D2D-4710-856E-2A600F3370E8</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>82CD02CA-2114-4E80-B54A-0978860D03B4</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>8B030444-D575-4959-A338-59942CF30916</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>8B57F02C-509E-4C47-8991-5C39A314E2E7</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>962C9438-2EAF-4692-8D26-7AD0BCA3A411</key>
		<dict>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>9ABC00DA-AF1B-46D2-8161-1C9CDCFEC8E9</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>9D12578D-202D-4867-BFC7-429B7E908CC5</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>9E25DEF8-5881-4013-8172-A510E37F1AC1</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>A3EE1751-FBE5-4ACE-AE4E-14A49FF79179</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>FFB11168-2575-47C8-8A78-0176FE669B0F</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>cms.changker.com</string>
</dict>
</plist>
